<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vuemenik</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
      <form ref="form" method="POST">
        <input name="number" v-model="phone_number">
        <input type="submit" v-on:click="getPhone"/>
        </form>
    </div>
</body>
<script>
var app = new Vue({
  el: '#app',
  data: {
    phone_number: 'Enter a number!'
  },
  methods: {
    getPhone: function () {
      this.$refs.form.submit()
    },

  }
})
</script>
</html>